[submodule "references/lerobot"]
	path = references/lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "references/AmazingHand"]
	path = references/AmazingHand
	url = https://github.com/pollen-robotics/AmazingHand.git
[submodule "references/FeetechServo"]
	path = references/FeetechServo
	url = https://github.com/Robot-Maker-SAS/FeetechServo.git
[submodule "references/rustypot"]
	path = references/rustypot
	url = https://github.com/pollen-robotics/rustypot
[submodule "references/FTServo_Python"]
	path = references/FTServo_Python
	url = https://github.com/ftservo/FTServo_Python.git
[submodule "references/SO-ARM100"]
	path = references/SO-ARM100
	url = https://github.com/TheRobotStudio/SO-ARM100
[submodule "references/Anthropic/skills"]
	path = references/Anthropic/skills
	url = https://github.com/anthropics/skills
[submodule "references/Anthropic/claude-plugins-official"]
	path = references/Anthropic/claude-plugins-official
	url = https://github.com/anthropics/claude-plugins-official
[submodule "references/Anthropic/claude-code-action"]
	path = references/Anthropic/claude-code-action
	url = https://github.com/anthropics/claude-code-action
[submodule "references/Anthropic/claude-code"]
	path = references/Anthropic/claude-code
	url = https://github.com/anthropics/claude-code
[submodule "references/Anthropic/claude-cookbooks"]
	path = references/Anthropic/claude-cookbooks
	url = https://github.com/anthropics/claude-cookbooks
[submodule "references/Anthropic/claude-code-security-review"]
	path = references/Anthropic/claude-code-security-review
	url = https://github.com/anthropics/claude-code-security-review
[submodule "references/optomed-camera/nous_vclient"]
	path = references/optomed-camera/nous_vclient
	url = https://github.com/kim7tin/nous_vclient.git
[submodule "references/computer-vision/opencv"]
	path = references/computer-vision/opencv
	url = https://github.com/opencv/opencv
[submodule "references/computer-vision/opencv-python"]
	path = references/computer-vision/opencv-python
	url = https://github.com/opencv/opencv-python
[submodule "references/computer-vision/opencv_contrib"]
	path = references/computer-vision/opencv_contrib
	url = https://github.com/opencv/opencv_contrib
[submodule "references/computer-vision/mediapipe"]
	path = references/computer-vision/mediapipe
	url = https://github.com/google-ai-edge/mediapipe
[submodule "references/computer-vision/GazeTracking"]
	path = references/computer-vision/GazeTracking
	url = https://github.com/antoinelame/GazeTracking
[submodule "references/AIML-models/Awesome-Diabetic-Retinopathy-Detection"]
	path = references/AIML-models/Awesome-Diabetic-Retinopathy-Detection
	url = https://github.com/FDU-VTS/Awesome-Diabetic-Retinopathy-Detection
[submodule "references/AIML-models/RETFound"]
	path = references/AIML-models/RETFound
	url = https://github.com/rmaphoh/RETFound
[submodule "references/computer-vision/IMX362"]
	path = references/computer-vision/IMX362
	url = https://github.com/Re4son/gemini-kali-linux-kernel-3.18.git
